
/*General stylings */
h1 {
  margin: 0;
  max-width: 99%;
  position: absolute;
  font-family: sans-serif;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  white-space: normal;
}

h2 {
  margin: 0;
  max-width: 99%;
  position: absolute;
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  white-space: normal;
}

h3 {
  margin: 0;
  position: absolute;
  font-family: arial;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}



/**********************************
NAV
***********************************/

nav {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0;
  margin: 0;
  background: lime;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
   color: white;
   font-weight: 800;
   padding: 15px 10px;
 }

nav a:visited {
  color: white;
}

nav a.selected, nav a:hover {
  color: white;
  font-size: 100%;
  transform: translate3d(0px, 16px);
  background: lime;
  border-bottom: 4px solid white;
  padding: 6px 10px 6px;
  transition: all 125ms ease-in-out
}

body {
  white-space: nowrap;
  max-width: 99%;
  text-align: center;
}

img {
  max-width: 25%;
  margin-bottom: -50%;
}

img:hover {
  max-width: 27.5%;
}

p {
  font-weight: 800;
  white-space: normal;
  margin: 0;
  position: absolute;

}


/*dropdown button stylings*/
.dropbtn {
  display: none;
}

.dropdown-content {
  display: none;
}
