/*dropdown button stylings*/
.dropbtn {
    background-color: palegreen;
    color: white;
    padding: 16px;
    font-family: arial;
    font-weight: 800;
    letter-spacing: .05em;
    outline: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 8px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: lime;
    font-size: 20px;
    transform: translate3d(16px);
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    transition: all 250ms ease-in-out;
    border: none;
}

.dropdown {
    display: inline-block;
    border-radius: 8px;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 70px;
    right: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    transition: all 250ms ease-in-out;
    border-radius: 8px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: whitesmoke}

.show {display:block;}

/*image styling */
#blogImgs {
  max-width: 90%;
  border: dashed 4px lime;
  padding: 1%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/*main button styling*/
#js-button-wrap {
  box-sizing: border-box;
  margin: 228% auto;
  max-width: 245px;
  border-radius: 8px;
  background: palegreen;
  overflow: hidden;
}

#js-button {
  box-sizing: border-box;
  padding: 16px;
  color: white;
  text-align: center;
  font-family: arial;
  font-weight: 800;
  letter-spacing: .05em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 250ms ease-in-out;
}

#js-button:hover {
  box-sizing: border-box;
  background: lime;
  font-size: 20px;
  transform: translate3d(16px);
  text-align: center;
  border-radius: 8px;
}
