
/**********************************
NAV
***********************************/

nav {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0;
  margin: 0;
  background: lime;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
   color: white;
   font-weight: 800;
   padding: 15px 10px;
 }

nav a:visited {
  color: white;
}

nav a.selected, nav a:hover {
  color: white;
  font-size: 100%;
  transform: translate3d(0px, 16px);
  background: lime;
  border-bottom: 4px solid white;
  padding: 6px 10px 6px;
  transition: all 125ms ease-in-out
}

body {
  white-space: nowrap;
  max-width: 99%;
}



/*dropdown button stylings*/
.dropbtn {
  display: none;
}

.dropdown-content {
  display: none;
}




/*image styling */
#blogImgs {
  max-width: 59%;
  white-space: nowrap;
  border: dashed 4px lime;
  padding: 1%;
  margin: -5px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}



/*main button styling*/
#js-button-wrap {
  box-sizing: border-box;
  margin: 313px auto;
  display: block;
  text-align: center;
  max-width: 245px;
  border-radius: 8px;
  background: palegreen;
  overflow: hidden;
}

#js-button {
  box-sizing: border-box;
  padding: 12px;
  color: white;
  text-align: center;
  font-family: arial;
  font-weight: 800;
  letter-spacing: .05em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 250ms ease-in-out;
}

#js-button:hover {
  box-sizing: border-box;
  background: lime;
  font-size: 20px;
  transform: translate3d(16px);
  text-align: center;
  border-radius: 8px;
}
