@media screen and (min-width: 480px) {

  #blogImgs {
    max-width: 65%;
    margin: 55px auto;
  }

  #js-button-wrap {
    margin: 843px auto;
  }
}

@media screen and (min-width: 660px) {

  #js-button-wrap {
    margin: 875px auto;
  }

  #blogImgs {
    margin: -35px auto;
  }

  .dropbtn {
    top: 30px;
    right: 30px
  }

  .dropdown-content {
    top: 90px;
    right: 30px;
  }
}

                          /* at this point site adjusts to what I want for the desktop version, ie 660px+... */
